/* Overlay controls for next, zoom, fullscreen */
button.osd.circular {
  min-width: 42px;
  min-height: 42px;
}

.fullscreen revealer:not(.raised) .fullscreen-osd {
  background: rgba(0, 0, 0, 0.65);
}

shadow, border, outline {
  background: none;
}

row.property label.title {
  opacity: 0.55;
  font-size: smaller;
}

row.property label.subtitle {
  opacity: 1.0;
  font-size: 11pt;
}

.drag-icon {
  margin: 16px;
  border-radius: 5px;
  outline: 2px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 200);
}

lpprintpreview {
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  box-shadow: 0 0 14px 1px black;
}
