/* Overlay controls for next, zoom, fullscreen */
button.osd.circular {
  min-width: 42px;
  min-height: 42px;
}

flap.fullscreen-widget dimming, shadow, border, outline {
  background: none;
}

row.property label.title {
  opacity: 0.55;
  font-size: smaller;
}

row.property label.subtitle {
  opacity: 1.0;
  font-size: 11pt;
}

.drag-icon {
  margin: 16px;
  border-radius: 5px;
  outline: 2px solid white;
  box-shadow: 0 0 10px rgba(0.4, 0.4, 0.4, 0.8);
}
